<!DOCTYPE html>
<html lang="es">
    {{& head }}
    <body>
        {{& nav }}
        {{> core/loading }}

        <main id="page" style="display: none;">
            {{{ body }}}
        </main>
    </body>
</html>