<!DOCTYPE html>
<html lang="es">
    {{& head }}
    <body>
        {{& nav }}
        {{#print_footer}}
            {{> core/loading }}
        {{/print_footer}}

        <main id="page" {{#print_footer}}style="display: none;"{{/print_footer}}>
            {{{ body }}}
        </main>
        {{#print_footer}}
            {{> core/footer }}
        {{/print_footer}}
    </body>
</html>