<div id="video-container-loading">
    <video id="video-loading" autoplay muted playsinline>
        <source src="assets/videos/loading.mp4" type="video/mp4">
        Tu navegador no soporta videos.
    </video>
    <span>i-architecture</span>
</div>