<section data-section="{{id}}" class="section image-left-text-right">
    <div class="container-fluid">
        <div class="row" style="{{s_css}}">
            <div class="col-md-6 image-column px-0">
                {{#items}}
                    {{#type}}
                        {{#is_image}}
                            <img data-src="{{#print_img}}{{media_url}}{{/print_img}}" class="img-fluid lazy-section mx-auto" />
                        {{/is_image}}
                    {{/type}}
                {{/items}}
            </div>
            <div class="col-md-6 text-column px-0 d-flex">
                {{#items}}
                    {{#type}}
                        {{#is_text}}
                            <div class="text-block mx-auto" style="{{css}}">{{content}}</div>
                        {{/is_text}}
                    {{/type}}
                {{/items}}
            </div>
        </div>
    </div>
</section>