<section data-section="{{id}}" class="section two-images-left-large-right-small">
    <div>
        <div class="row">

            <!-- Imagen izquierda grande -->
            <div class="col-md-6 px-0">
                {{#items}}
                    {{#is_image_left}}
                        <img src="{{#print_img}}{{media_url}}{{/print_img}}" class="img-fluid left-image" />
                    {{/is_image_left}}
                {{/items}}
            </div>

            <!-- Imagen derecha pequeña -->
            <div class="col-md-6 d-flex flex-column align-items-start px-0">
                {{#items}}
                    {{#is_image_right}}
                        <img src="{{#print_img}}{{media_url}}{{/print_img}}" style="{{css}}" class="img-fluid right-image mb-custom" />
                    {{/is_image_right}}
                {{/items}}
            </div>

        </div>
    </div>
</section>