<div id="container-gif-home" class="container d-flex align-items-center justify-content-center">
    <div id="container-gif-home" class="container d-flex align-items-center justify-content-center">
        <img src="{{#img}}proyectos.gif{{/img}}" alt="GIF proyectos">
    </div>
</div>

{{> list-proyects }}