<div style="margin-top: 8px; overflow: hidden;">
    <div class="grid-proyects">
        <div class="grid-sizer"></div> <!-- columna de referencia -->

        {{#proyects}}
            <div class="grid-item">
                {{#source_image}}
                    <img src="{{#print_img}}{{source}}{{/print_img}}" alt="">
                {{/source_image}}
                {{#source_video}}
                    <video autoplay muted loop playsinline>
                        <source src="{{#print_img}}{{source}}{{/print_img}}" type="video/mp4">
                        Tu navegador no soporta video en HTML5.
                    </video>
                {{/source_video}}
                <a href="{{#link}}project/{{id}}{{/link}}" class="overlay-text">{{name}}</a>
            </div>
        {{/proyects}}
    </div>
</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
